*, *::before, *::after { box-sizing: border-box; padding: 0}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.attribution { font-size: 11px; text-align: center; margin-top: 2em;}
.attribution a { color: hsl(228, 45%, 44%); }


.container {
    padding: 2em 0;
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    line-height: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.overlay {
    inset: 0;
    background-color: var(--very-dark-blue);
    position: absolute;
    opacity: 0.5;
    display: none;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list_group {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.nav_item {
    cursor: pointer;
}

.nav_item:hover {
    color: var(--soft-red);
}

.hamburger {
    display: none;
    cursor: pointer;
}

.bar {
    width: 35px;
    height: 3px;
    margin: 5px auto;
    background-color: var(--very-dark-blue);
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

.hero_mobile {
    display: none;
}

.grid {
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d b'
    'e f g'
    ;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid1{
    grid-area: a;
}

.grid2{
    padding: 1.5em;
    background-color: var(--very-dark-blue);
    grid-area: b;
}

.new {
    color: var(--soft-orange);
    font-size: 2rem;
    margin: 0;
}

.sidetext_box {
    padding: 2em 0;
    border-bottom: 1px solid var(--gray-blue);
}

.last {
    border: none;
}

.sidetext_header {
    color: var(--off-white);
    font-weight: 600;
    margin-bottom: .5em;
    font-size: 1.25rem;
    cursor: pointer;
}

.sidetext_header:hover {
    color: var(--soft-orange);
}

.sidetext_sub {
    color: var(--off-white);
    font-size: 1rem;
}

.bright_future {
    font-size: 3.6rem;
    color: var(--very-dark-blue);
    font-weight: 800;
    line-height: 3.6rem;
}

.small_text {
    font-size: 1rem;
    color: var(--dark-gray-blue);
}

.grid3{
    grid-area: c;
    margin-top: 1em;
}

.read_btn {
    font-size: .85rem;
    margin-top: 2em;
    background-color: var(--soft-red);
    padding: 1em;
    color: var(--off-white);
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: .3em;
    max-width: 50%;
    text-align: center;
    cursor: pointer;
}

.read_btn:hover {
    background-color: var(--very-dark-blue);
}

.grid4{
    grid-area: d;
    margin-top: 1em;
}

.grid5{
    grid-area: e;
    margin-top: 3em;
}
.grid6{
    grid-area: f;
    margin-top: 3em;
}
.grid7{
    grid-area: g;
    margin-top: 3em;
}

.bottom_flex {
    display: flex;
    align-items: center;
    gap: 2em;
}

.bottom_flex-img {
    width: 30%;
}

.bottom_flex-text {
    width: 70%;
    padding-right: .8em;
}

.num_heading {
    margin: 0;
    color: var(--gray-blue);
    font-size: 2rem;
}

.bottom_heading {
    font-size: 1.125rem;
    font-weight: 700;
    margin: .5em 0;
}

@media (max-width: 375px) {
    .container {
        padding: 1em 0;
        margin: 0 auto;
        width: 95%;
    }

    .overlay.active {
        display: block;
    }

    .nav_list_group {
        position: fixed;
        font-weight: 500;
        font-size: 1rem;
        flex-direction: column;
        inset: 0 0 0 30%;
        padding: min(30vh, 8em) 1.5em;
        background-color: var(--off-white);
        height: 100%;
        margin: 0;
        transition: 0.3s;
        transform: translateX(100%);
    }

    .nav_list_group.active{
        transform: translateX(0%);
    }

    /* hamburger styling */
    .hamburger {
        display: block;
    }

    .bar {
        display: block;
    }

    .hamburger.active .bar:nth-child(2) {
        opacity: 0;
    }
    
    .hamburger.active .bar:nth-child(1) {
        transform: translateY(8px) rotate(45deg);
    }

    .hamburger.active .bar:nth-child(3) {
        transform: translateY(-8px) rotate(-45deg);
    }

    /* hero images */
    .hero_mobile {
        display: block;
    }

    .hero_desktop {
        display: none;
    }

    .grid {
    grid-template-areas: 
    'a'
    'c'
    'd'
    'b'
    'e'
    'f'
    'g'
    ;
    gap: 1em;
    grid-template-columns: 1fr;
    }

    .grid2 {
        margin-top: 3em;
    }

    .bright_future {
        font-size: 2.5rem;
        line-height: 2.5rem;
    }

    .read_btn {
        padding: .8em;
    }

    .grid6{
        margin-top: 1.5em;
    }
    .grid7{
        margin-top: 1.5em;
    }

    .bottom_flex {
        gap: 1.5em;
    }

    .num_heading {
        font-size: 1.5rem;
    }

    .bottom_heading {
        font-size: 1rem;
        margin: .25em 0;
    }

    .small_text {
        font-size: .85rem;
    }
}