*, *::before, *::after { box-sizing: border-box; padding: 0}

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700;800&display=swap');

:root {
    --soft-orange: hsl(35, 77%, 62%);
    --soft-red: hsl(5, 85%, 63%);
    --off-white: hsl(36, 100%, 99%);
    --gray-blue: hsl(233, 8%, 79%);
    --dark-gray-blue: hsl(236, 13%, 42%);
    --very-dark-blue: hsl(240, 100%, 5%);
}

body {
    font-family: 'Inter', sans-serif;
    font-size: 15px;
}

.attribution { font-size: 11px; text-align: center; }
.attribution a { color: hsl(228, 45%, 44%); }


.container {
    padding: 2em 0;
    margin: 0 auto;
    width: 80%;
    max-width: 1440px;
}

img {
    max-width: 100%;
}

p {
    margin: 0;
    line-height: 1.5rem;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.nav_list {
    display: flex;
    align-items: center;
}

.nav_list_group {
    display: flex;
    list-style: none;
    gap: 2rem;
}

.menu {
    display: none;
}

.grid {
    display: grid;
    grid-template-areas: 
    'a a b'
    'c d b'
    'e f g'
    ;
    gap: 1em;
    grid-template-columns: 1fr 1fr 1fr;
}

.grid1{
    grid-area: a;
}

.grid2{
    padding: 1.5em;
    background-color: var(--very-dark-blue);
    grid-area: b;
}

.new {
    color: var(--soft-orange);
    font-size: 2rem;
    margin: 0;
}

.sidetext_box {
    padding: 2em 0;
    border-bottom: 1px solid var(--gray-blue);
}

.last {
    border: none;
}

.sidetext_header {
    color: var(--off-white);
    font-weight: 600;
    margin-bottom: .5em;
    font-size: 1.125rem;
}

.sidetext_sub {
    color: var(--off-white);
    font-size: .85rem;
}

.grid3{
    padding: 2em;
    background-color: red;
    grid-area: c;
}
.grid4{
    padding: 2em;
    background-color: blue;
    grid-area: d;
}
.grid5{
    padding: 2em;
    background-color: green;
    grid-area: e;
}
.grid6{
    padding: 2em;
    background-color:crimson;
    grid-area: f;
}
.grid7{
    padding: 2em;
    background-color: orange;
    grid-area: g;
}


@media (max-width: 375px) {
    .nav_list_group {
        display: none;
    }

    .menu {
        display: block;
    }
}